<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OutilRentabilite</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/OutilRentabilite.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="app-root" id="appRoot">
        <!-- Sidebar -->
        <aside class="sidebar" id="sidebar">
            <div class="d-flex align-items-center justify-content-between">
                <div class="brand d-flex align-items-center">
                   <svg width="28" height="28" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="me-2">
                        <rect width="24" height="24" rx="6" fill="#fff5f5" />
                        <path d="M7 12h10M7 8h6" stroke="red" stroke-width="1.4" stroke-linecap="round"/>
                    </svg>
                    Outil Rentabilité
                </div>
                <button class="btn btn-sm btn-light d-lg-none" id="closeSidebarBtn">✕</button>
            </div>

            <nav class="mt-4">
                <a class="nav-link d-block px-3 py-2" href="~/Home/Index">Accueil</a>
                <a class="nav-link d-block px-3 py-2" href="~/Simulation/Historique">Historique</a>
                <a class="nav-link d-block px-3 py-2" href="~/Simulation/Analyse">Analyses</a>
                <a class="nav-link d-block px-3 py-2" href="#">Paramètres</a>
            </nav>

            <div class="mt-auto small">© @DateTime.Now.Year • CEM</div>
        </aside>

        <div class="overlay" id="overlay"></div>

        <!-- Main -->
        <div class="main-area">
            <header class="topbar shadow-sm">
                <div class="d-flex align-items-center w-100">
                    <button class="btn btn-ghost d-lg-none me-2" id="openSidebarBtn">☰</button>
                    <div class="logo">
                        <img src="~/images/CEM.png" alt="Logo" style="height:32px;" />
                    </div>
                    <div class="ms-auto"></div>
                </div>
            </header>

            <main class="content">
                @RenderBody()
            </main>
        </div>
    </div>
      

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
