@model OutilRentabilite.Models.ParametresSimulation


@{
    ViewData["Title"] = "Nouvelle simulation";
    var produits = ViewBag.Produits as List<OutilRentabilite.Models.ProduitFinancier>;
}

<h2>Nouvelle simulation</h2>

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

<form asp-action="Create" method="post">
    @if (ViewBag.NomProduit != null)
    {
        <div class="alert alert-info">Produit :<strong>(@ViewBag.TypeProduit)</strong></div>

        <input type="hidden" asp-for="ProduitFinancierId"/>

    }
    else
    {
        <div class="alert alert-info">
            <strong>
                Aucune Produit
            </strong>

        </div>
    }
    <div class="form-group">
        <label for="Montant">Montant</label>
        <input asp-for="Montant" class="form-control" />
        <span asp-validation-for="Montant" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="DureeMois">Mois</label>
        <input asp-for="DureeMois" class="form-control" />
        <span asp-validation-for="DureeMois" class="text-danger"></span>
    </div>

    @{
        var typeProduit = ((string)ViewBag.TypeProduit)?.ToLower();
    } 
    @if (typeProduit == "crédit")
    {
        <div class="form-group">
            <label for="TauxInteret">Taux d'intérêt</label>
            <input asp-for="TauxInteret" class="form-control" />
            <span asp-validation-for="TauxInteret" class="text-danger"></span>
        </div>

        <div class="form-group">
            <label for="FraisDossier">Frais de dossier</label>
            <input asp-for="FraisDossier" class="form-control" />
            <span asp-validation-for="FraisDossier" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="CoutOperationel">Coût opérationnel</label>
            <input asp-for="CoutOperationnel" class="form-control" />
            <span asp-validation-for="CoutOperationnel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="CoutRisque">Coût de Risque</label>
            <input asp-for="CoutRisque" class="form-control" />
            <span asp-validation-for="CoutRisque" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="CoutFinancement">Coût de Financement</label>
            <input asp-for=CoutFinancement" class="form-control" />
            <span asp-validation-for="CoutFinancement" class="text-danger"></span>
        </div>

    }
    @if (typeProduit == "epargne")
    {
        <div class="form-group">
            <label for="TauxInteret">Taux d'intérêt (épargne)</label>
            <input asp-for="TauxInteret" class="form-control" />
            <span asp-validation-for="TauxInteret" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="CoutOperationel">Coût opérationnel</label>
            <input asp-for="CoutOperationnel" class="form-control" />
            <span asp-validation-for="CoutOperationnel" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label for="CoutFinancement">Coût de Financement</label>
            <input asp-for=CoutFinancement" class="form-control" />
            <span asp-validation-for="CoutFinancement" class="text-danger"></span>
        </div>

    }
    @if (typeProduit == "services")
    {
        <div class="form-group">
            <label for="CoutOperationel">Coût opérationnel</label>
            <input asp-for="CoutOperationnel" class="form-control" />
            <span asp-validation-for="CoutOperationnel" class="text-danger"></span>
        </div>

    }  
 
    <button type="submit" class="btn btn-primary mt-3">Lancer</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}